Options -Indexes

<Files ~ "\.(env|json|config.js|md|gitignore|gitattributes|lock|sql)$">
    Order allow,deny
    Deny from all
</Files>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>